# A. DSCVR DATA

## A1. IMPORT DSCVR YEARLY DATASETS

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
list_dscvr_files = [
                    "Raw_data/dsc_fc_summed_spectra_2016_v01.csv",
                    "Raw_data/dsc_fc_summed_spectra_2017_v01.csv",
                    "Raw_data/dsc_fc_summed_spectra_2018_v01.csv",
                    "Raw_data/dsc_fc_summed_spectra_2019_v01.csv",
                    "Raw_data/dsc_fc_summed_spectra_2020_v01.csv",
                    "Raw_data/dsc_fc_summed_spectra_2021_v01.csv",
                    "Raw_data/dsc_fc_summed_spectra_2022_v01.csv",
                    "Raw_data/dsc_fc_summed_spectra_2023_v01.csv"
                    ]

In [3]:
count = 0

for data_file in list_dscvr_files:
    
    if count == 0:
        data_all_init = pd.read_csv(data_file, \
                    delimiter = ',', parse_dates=[0], \
                    infer_datetime_format=True, na_values='0', \
                    header = None)
    
    else:
        data_all_init = pd.concat([data_all_init, pd.read_csv(data_file, \
                    delimiter = ',', parse_dates=[0], \
                    infer_datetime_format=True, na_values='0', \
                    header = None)])
        
    count += 1
    
data_all_init.reset_index(inplace=True, drop=True)

In [4]:
# Removal of initial period up to continuous incoming data from 1st July 2016
data_all = data_all_init[18720:]
data_all

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
18720,2016-07-01 00:00:00,-0.259678,6.80223,-2.862570,NaN,NaN,NaN,NaN,NaN,329.849000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18721,2016-07-01 00:01:00,0.602154,7.10539,-2.184250,NaN,NaN,NaN,NaN,NaN,329.560000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18722,2016-07-01 00:02:00,0.517461,6.96508,-2.235470,NaN,NaN,NaN,NaN,NaN,329.845000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18723,2016-07-01 00:03:00,0.809703,6.71474,-2.563130,NaN,NaN,NaN,NaN,NaN,325.738000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18724,2016-07-01 00:04:00,1.148630,6.99785,-1.576800,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3277435,2023-05-02 23:55:00,4.336650,2.80127,0.954633,1.004790,0.231726,4.64757,0.626576,3.54595,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3277436,2023-05-02 23:56:00,4.667780,2.10582,1.260660,0.781621,0.231726,5.97222,0.360648,3.39143,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3277437,2023-05-02 23:57:00,4.283220,3.02154,0.927773,0.854185,0.231726,8.10454,2.025800,4.22000,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3277438,2023-05-02 23:58:00,4.313760,2.67727,1.723270,0.801559,0.231726,12.76210,2.818550,4.82242,0.301864,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3277439,2023-05-02 23:59:00,4.515420,2.30317,1.832570,2.265740,0.231726,11.68700,1.892900,2.39384,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## A2. CHANGE DSCVR COLUMN NAMES

In [5]:
dict_mag_field = {0: "datetime_DSCVR", 
                  1: "MagFieldVect_Comp1", 2: "MagFieldVect_Comp2", 3: "MagFieldVect_Comp3"}

In [6]:
key_list = list(range(4,54))
val_list = ["FarCup"+str(i+1) for i in list(range(51))]
iterable = zip(key_list, val_list)
dict_far_cup = {key_list: val_list for key_list,val_list in iterable }

In [7]:
new_dict_DSCVR = {**dict_mag_field, **dict_far_cup}
new_dict_DSCVR

{0: 'datetime_DSCVR',
 1: 'MagFieldVect_Comp1',
 2: 'MagFieldVect_Comp2',
 3: 'MagFieldVect_Comp3',
 4: 'FarCup1',
 5: 'FarCup2',
 6: 'FarCup3',
 7: 'FarCup4',
 8: 'FarCup5',
 9: 'FarCup6',
 10: 'FarCup7',
 11: 'FarCup8',
 12: 'FarCup9',
 13: 'FarCup10',
 14: 'FarCup11',
 15: 'FarCup12',
 16: 'FarCup13',
 17: 'FarCup14',
 18: 'FarCup15',
 19: 'FarCup16',
 20: 'FarCup17',
 21: 'FarCup18',
 22: 'FarCup19',
 23: 'FarCup20',
 24: 'FarCup21',
 25: 'FarCup22',
 26: 'FarCup23',
 27: 'FarCup24',
 28: 'FarCup25',
 29: 'FarCup26',
 30: 'FarCup27',
 31: 'FarCup28',
 32: 'FarCup29',
 33: 'FarCup30',
 34: 'FarCup31',
 35: 'FarCup32',
 36: 'FarCup33',
 37: 'FarCup34',
 38: 'FarCup35',
 39: 'FarCup36',
 40: 'FarCup37',
 41: 'FarCup38',
 42: 'FarCup39',
 43: 'FarCup40',
 44: 'FarCup41',
 45: 'FarCup42',
 46: 'FarCup43',
 47: 'FarCup44',
 48: 'FarCup45',
 49: 'FarCup46',
 50: 'FarCup47',
 51: 'FarCup48',
 52: 'FarCup49',
 53: 'FarCup50'}

In [8]:
DSCVR_data_all = data_all.rename(columns=new_dict_DSCVR)
DSCVR_data_all

,datetime_DSCVR,MagFieldVect_Comp1,MagFieldVect_Comp2,MagFieldVect_Comp3,FarCup1,FarCup2,FarCup3,FarCup4,FarCup5,FarCup6,...,FarCup41,FarCup42,FarCup43,FarCup44,FarCup45,FarCup46,FarCup47,FarCup48,FarCup49,FarCup50
18720,2016-07-01 00:00:00,-0.259678,6.80223,-2.862570,NaN,NaN,NaN,NaN,NaN,329.849000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18721,2016-07-01 00:01:00,0.602154,7.10539,-2.184250,NaN,NaN,NaN,NaN,NaN,329.560000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18722,2016-07-01 00:02:00,0.517461,6.96508,-2.235470,NaN,NaN,NaN,NaN,NaN,329.845000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18723,2016-07-01 00:03:00,0.809703,6.71474,-2.563130,NaN,NaN,NaN,NaN,NaN,325.738000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18724,2016-07-01 00:04:00,1.148630,6.99785,-1.576800,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3277435,2023-05-02 23:55:00,4.336650,2.80127,0.954633,1.004790,0.231726,4.64757,0.626576,3.54595,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3277436,2023-05-02 23:56:00,4.667780,2.10582,1.260660,0.781621,0.231726,5.97222,0.360648,3.39143,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3277437,2023-05-02 23:57:00,4.283220,3.02154,0.927773,0.854185,0.231726,8.10454,2.025800,4.22000,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3277438,2023-05-02 23:58:00,4.313760,2.67727,1.723270,0.801559,0.231726,12.76210,2.818550,4.82242,0.301864,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3277439,2023-05-02 23:59:00,4.515420,2.30317,1.832570,2.265740,0.231726,11.68700,1.892900,2.39384,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## A3. AGGREGATE BASED ON TIME

In [9]:
DSCVR_data_all = DSCVR_data_all.set_index('datetime_DSCVR')
DSCVR_data_all

,MagFieldVect_Comp1,MagFieldVect_Comp2,MagFieldVect_Comp3,FarCup1,FarCup2,FarCup3,FarCup4,FarCup5,FarCup6,FarCup7,...,FarCup41,FarCup42,FarCup43,FarCup44,FarCup45,FarCup46,FarCup47,FarCup48,FarCup49,FarCup50
datetime_DSCVR,,,,,,,,,,,,,,,,,,,,,
2016-07-01 00:00:00,-0.259678,6.80223,-2.862570,NaN,NaN,NaN,NaN,NaN,329.849000,340.556000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 00:01:00,0.602154,7.10539,-2.184250,NaN,NaN,NaN,NaN,NaN,329.560000,343.157000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 00:02:00,0.517461,6.96508,-2.235470,NaN,NaN,NaN,NaN,NaN,329.845000,344.199000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 00:03:00,0.809703,6.71474,-2.563130,NaN,NaN,NaN,NaN,NaN,325.738000,349.640000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 00:04:00,1.148630,6.99785,-1.576800,NaN,NaN,NaN,NaN,NaN,NaN,345.681000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-02 23:55:00,4.336650,2.80127,0.954633,1.004790,0.231726,4.64757,0.626576,3.54595,0.231726,1.795390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-02 23:56:00,4.667780,2.10582,1.260660,0.781621,0.231726,5.97222,0.360648,3.39143,0.231726,0.506513,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-02 23:57:00,4.283220,3.02154,0.927773,0.854185,0.231726,8.10454,2.025800,4.22000,0.231726,2.344650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-02 23:58:00,4.313760,2.67727,1.723270,0.801559,0.231726,12.76210,2.818550,4.82242,0.301864,0.355221,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-02 23:59:00,4.515420,2.30317,1.832570,2.265740,0.231726,11.68700,1.892900,2.39384,0.231726,2.772970,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### A3.1 Mean

In [10]:
DSCVR_data_all_resampled_mean = DSCVR_data_all.resample('3H', origin='end', offset='1min').mean()
DSCVR_data_all_resampled_mean = DSCVR_data_all_resampled_mean.add_suffix("_mean")
DSCVR_data_all_resampled_mean.head(3)

,MagFieldVect_Comp1_mean,MagFieldVect_Comp2_mean,MagFieldVect_Comp3_mean,FarCup1_mean,FarCup2_mean,FarCup3_mean,FarCup4_mean,FarCup5_mean,FarCup6_mean,FarCup7_mean,...,FarCup41_mean,FarCup42_mean,FarCup43_mean,FarCup44_mean,FarCup45_mean,FarCup46_mean,FarCup47_mean,FarCup48_mean,FarCup49_mean,FarCup50_mean
datetime_DSCVR,,,,,,,,,,,,,,,,,,,,,
2016-07-01 03:00:00,0.265339,3.261504,0.045978,NaN,NaN,NaN,NaN,356.221,333.408857,349.227408,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 06:00:00,0.924653,1.763291,-0.228962,NaN,NaN,NaN,NaN,NaN,NaN,351.975857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 09:00:00,-0.770110,2.431628,-1.294382,NaN,NaN,NaN,NaN,NaN,NaN,356.851500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
DSCVR_data_all_resampled_mean

,MagFieldVect_Comp1_mean,MagFieldVect_Comp2_mean,MagFieldVect_Comp3_mean,FarCup1_mean,FarCup2_mean,FarCup3_mean,FarCup4_mean,FarCup5_mean,FarCup6_mean,FarCup7_mean,...,FarCup41_mean,FarCup42_mean,FarCup43_mean,FarCup44_mean,FarCup45_mean,FarCup46_mean,FarCup47_mean,FarCup48_mean,FarCup49_mean,FarCup50_mean
datetime_DSCVR,,,,,,,,,,,,,,,,,,,,,
2016-07-01 03:00:00,0.265339,3.261504,0.045978,NaN,NaN,NaN,NaN,356.221000,333.408857,349.227408,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 06:00:00,0.924653,1.763291,-0.228962,NaN,NaN,NaN,NaN,NaN,NaN,351.975857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 09:00:00,-0.770110,2.431628,-1.294382,NaN,NaN,NaN,NaN,NaN,NaN,356.851500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 12:00:00,1.719482,3.512640,-0.144519,NaN,NaN,NaN,NaN,360.279000,340.138000,355.934667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 15:00:00,-1.733990,1.799461,-0.555546,NaN,NaN,NaN,NaN,354.486000,335.147222,348.999882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-02 12:00:00,4.525159,-0.303902,0.267391,1.263438,0.231726,0.390526,0.231726,0.232078,0.231726,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-02 15:00:00,3.567366,1.580780,1.438682,1.263416,0.231726,0.353727,0.231726,0.231726,0.231726,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-02 18:00:00,4.230931,0.167467,-0.925729,1.117462,0.231726,0.887621,0.382773,0.446299,0.231726,0.232609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-02 21:00:00,3.440782,3.238269,-1.601845,0.375699,0.231726,3.624081,20.392764,12.782806,0.239769,0.331157,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-03 00:00:00,4.234609,3.294242,-0.042956,0.741283,0.231726,11.992781,12.568496,5.641754,0.299559,0.585979,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### A3.2 Range

In [12]:
DSCVR_data_all_resampled_range = DSCVR_data_all.resample('3H', origin='end', offset='1min').max() - DSCVR_data_all.resample('3H', origin='end', offset='1min').min()
DSCVR_data_all_resampled_range = DSCVR_data_all_resampled_range.add_suffix("_range")
DSCVR_data_all_resampled_range.head(3)

,MagFieldVect_Comp1_range,MagFieldVect_Comp2_range,MagFieldVect_Comp3_range,FarCup1_range,FarCup2_range,FarCup3_range,FarCup4_range,FarCup5_range,FarCup6_range,FarCup7_range,...,FarCup41_range,FarCup42_range,FarCup43_range,FarCup44_range,FarCup45_range,FarCup46_range,FarCup47_range,FarCup48_range,FarCup49_range,FarCup50_range
datetime_DSCVR,,,,,,,,,,,,,,,,,,,,,
2016-07-01 03:00:00,9.90025,11.85823,10.29297,NaN,NaN,NaN,NaN,0.0,27.581,27.507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 06:00:00,10.31375,14.81710,11.27526,NaN,NaN,NaN,NaN,NaN,NaN,18.328,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 09:00:00,6.40133,10.49359,10.50931,NaN,NaN,NaN,NaN,NaN,NaN,11.028,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### A3.3 Minimum

In [13]:
DSCVR_data_all_resampled_min = DSCVR_data_all.resample('3H', origin='end', offset='1min').min()
DSCVR_data_all_resampled_min = DSCVR_data_all_resampled_min.add_suffix("_min")
DSCVR_data_all_resampled_min.head(3)

,MagFieldVect_Comp1_min,MagFieldVect_Comp2_min,MagFieldVect_Comp3_min,FarCup1_min,FarCup2_min,FarCup3_min,FarCup4_min,FarCup5_min,FarCup6_min,FarCup7_min,...,FarCup41_min,FarCup42_min,FarCup43_min,FarCup44_min,FarCup45_min,FarCup46_min,FarCup47_min,FarCup48_min,FarCup49_min,FarCup50_min
datetime_DSCVR,,,,,,,,,,,,,,,,,,,,,
2016-07-01 03:00:00,-5.06615,-4.47834,-6.34188,NaN,NaN,NaN,NaN,356.221,325.738,340.556,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 06:00:00,-3.83255,-6.29812,-4.58207,NaN,NaN,NaN,NaN,NaN,NaN,347.105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 09:00:00,-4.19661,-4.68640,-5.97934,NaN,NaN,NaN,NaN,NaN,NaN,352.290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### A3.4 Maximum

In [14]:
DSCVR_data_all_resampled_max = DSCVR_data_all.resample('3H', origin='end', offset='1min').max()
DSCVR_data_all_resampled_max = DSCVR_data_all_resampled_max.add_suffix("_max")
DSCVR_data_all_resampled_max.head(3)

,MagFieldVect_Comp1_max,MagFieldVect_Comp2_max,MagFieldVect_Comp3_max,FarCup1_max,FarCup2_max,FarCup3_max,FarCup4_max,FarCup5_max,FarCup6_max,FarCup7_max,...,FarCup41_max,FarCup42_max,FarCup43_max,FarCup44_max,FarCup45_max,FarCup46_max,FarCup47_max,FarCup48_max,FarCup49_max,FarCup50_max
datetime_DSCVR,,,,,,,,,,,,,,,,,,,,,
2016-07-01 03:00:00,4.83410,7.37989,3.95109,NaN,NaN,NaN,NaN,356.221,353.319,368.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 06:00:00,6.48120,8.51898,6.69319,NaN,NaN,NaN,NaN,NaN,NaN,365.433,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 09:00:00,2.20472,5.80719,4.52997,NaN,NaN,NaN,NaN,NaN,NaN,363.318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### A3.5 Median

In [15]:
DSCVR_data_all_resampled_median = DSCVR_data_all.resample('3H', origin='end', offset='1min').median()
DSCVR_data_all_resampled_median = DSCVR_data_all_resampled_median.add_suffix("_median")
DSCVR_data_all_resampled_median.head(3)

,MagFieldVect_Comp1_median,MagFieldVect_Comp2_median,MagFieldVect_Comp3_median,FarCup1_median,FarCup2_median,FarCup3_median,FarCup4_median,FarCup5_median,FarCup6_median,FarCup7_median,...,FarCup41_median,FarCup42_median,FarCup43_median,FarCup44_median,FarCup45_median,FarCup46_median,FarCup47_median,FarCup48_median,FarCup49_median,FarCup50_median
datetime_DSCVR,,,,,,,,,,,,,,,,,,,,,
2016-07-01 03:00:00,0.173771,5.75964,0.416581,NaN,NaN,NaN,NaN,356.221,329.849,348.632,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 06:00:00,0.778440,2.24117,-1.765580,NaN,NaN,NaN,NaN,NaN,NaN,348.164,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01 09:00:00,-0.562646,3.33477,-1.125145,NaN,NaN,NaN,NaN,NaN,NaN,355.899,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### A3.6 Percent Change (PEDNING TO DO)

DSCVR_data_all_resampled_pct = DSCVR_data_all.resample('3H', origin='end', offset='1min').pct_change()
DSCVR_data_all_resampled_pct = DSCVR_data_all_resampled_pct.add_suffix("_median")
DSCVR_data_all_resampled_pct.head(3)

#### A3.6 Proportion of NaN

In [16]:
DSCVR_data_all_resampled_nan = DSCVR_data_all.resample('3H', origin='end', offset='1min').apply(lambda x: x.isna().sum() / (x.isna().sum()+x.notna().sum()))
DSCVR_data_all_resampled_nan = DSCVR_data_all_resampled_nan.add_suffix("_nan")
DSCVR_data_all_resampled_nan.head(3)

C:\Users\Javier\AppData\Local\Temp\ipykernel_31748\2476297788.py:1: RuntimeWarning: invalid value encountered in longlong_scalars
  DSCVR_data_all_resampled_nan = DSCVR_data_all.resample('3H', origin='end', offset='1min').apply(lambda x: x.isna().sum() / (x.isna().sum()+x.notna().sum()))

,MagFieldVect_Comp1_nan,MagFieldVect_Comp2_nan,MagFieldVect_Comp3_nan,FarCup1_nan,FarCup2_nan,FarCup3_nan,FarCup4_nan,FarCup5_nan,FarCup6_nan,FarCup7_nan,...,FarCup41_nan,FarCup42_nan,FarCup43_nan,FarCup44_nan,FarCup45_nan,FarCup46_nan,FarCup47_nan,FarCup48_nan,FarCup49_nan,FarCup50_nan
datetime_DSCVR,,,,,,,,,,,,,,,,,,,,,
2016-07-01 03:00:00,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.994475,0.961326,0.580110,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-07-01 06:00:00,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.000000,1.000000,0.961111,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-07-01 09:00:00,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.000000,1.000000,0.977778,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

#### A3.7 Aggregate back together all grouped data

In [17]:
DSCVR_data_all_resampled = pd.concat([
                                        DSCVR_data_all_resampled_mean, 
                                        DSCVR_data_all_resampled_range, 
                                        DSCVR_data_all_resampled_min,
                                        DSCVR_data_all_resampled_max,
                                        DSCVR_data_all_resampled_median,
                                        DSCVR_data_all_resampled_nan], axis=1)
DSCVR_data_all_resampled

,MagFieldVect_Comp1_mean,MagFieldVect_Comp2_mean,MagFieldVect_Comp3_mean,FarCup1_mean,FarCup2_mean,FarCup3_mean,FarCup4_mean,FarCup5_mean,FarCup6_mean,FarCup7_mean,...,FarCup41_nan,FarCup42_nan,FarCup43_nan,FarCup44_nan,FarCup45_nan,FarCup46_nan,FarCup47_nan,FarCup48_nan,FarCup49_nan,FarCup50_nan
datetime_DSCVR,,,,,,,,,,,,,,,,,,,,,
2016-07-01 03:00:00,0.265339,3.261504,0.045978,NaN,NaN,NaN,NaN,356.221000,333.408857,349.227408,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-07-01 06:00:00,0.924653,1.763291,-0.228962,NaN,NaN,NaN,NaN,NaN,NaN,351.975857,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-07-01 09:00:00,-0.770110,2.431628,-1.294382,NaN,NaN,NaN,NaN,NaN,NaN,356.851500,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-07-01 12:00:00,1.719482,3.512640,-0.144519,NaN,NaN,NaN,NaN,360.279000,340.138000,355.934667,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-07-01 15:00:00,-1.733990,1.799461,-0.555546,NaN,NaN,NaN,NaN,354.486000,335.147222,348.999882,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-02 12:00:00,4.525159,-0.303902,0.267391,1.263438,0.231726,0.390526,0.231726,0.232078,0.231726,0.231726,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-05-02 15:00:00,3.567366,1.580780,1.438682,1.263416,0.231726,0.353727,0.231726,0.231726,0.231726,0.231726,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-05-02 18:00:00,4.230931,0.167467,-0.925729,1.117462,0.231726,0.887621,0.382773,0.446299,0.231726,0.232609,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-05-02 21:00:00,3.440782,3.238269,-1.601845,0.375699,0.231726,3.624081,20.392764,12.782806,0.239769,0.331157,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-05-03 00:00:00,4.234609,3.294242,-0.042956,0.741283,0.231726,11.992781,12.568496,5.641754,0.299559,0.585979,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

#### A3.8 Remove rows that have all NaN (indicating do not have any data)

In [18]:
DSCVR_data_all_res_cleaned = DSCVR_data_all_resampled.dropna(axis=0, how='all')
DSCVR_data_all_res_cleaned

,MagFieldVect_Comp1_mean,MagFieldVect_Comp2_mean,MagFieldVect_Comp3_mean,FarCup1_mean,FarCup2_mean,FarCup3_mean,FarCup4_mean,FarCup5_mean,FarCup6_mean,FarCup7_mean,...,FarCup41_nan,FarCup42_nan,FarCup43_nan,FarCup44_nan,FarCup45_nan,FarCup46_nan,FarCup47_nan,FarCup48_nan,FarCup49_nan,FarCup50_nan
datetime_DSCVR,,,,,,,,,,,,,,,,,,,,,
2016-07-01 03:00:00,0.265339,3.261504,0.045978,NaN,NaN,NaN,NaN,356.221000,333.408857,349.227408,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-07-01 06:00:00,0.924653,1.763291,-0.228962,NaN,NaN,NaN,NaN,NaN,NaN,351.975857,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-07-01 09:00:00,-0.770110,2.431628,-1.294382,NaN,NaN,NaN,NaN,NaN,NaN,356.851500,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-07-01 12:00:00,1.719482,3.512640,-0.144519,NaN,NaN,NaN,NaN,360.279000,340.138000,355.934667,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-07-01 15:00:00,-1.733990,1.799461,-0.555546,NaN,NaN,NaN,NaN,354.486000,335.147222,348.999882,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-02 12:00:00,4.525159,-0.303902,0.267391,1.263438,0.231726,0.390526,0.231726,0.232078,0.231726,0.231726,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-05-02 15:00:00,3.567366,1.580780,1.438682,1.263416,0.231726,0.353727,0.231726,0.231726,0.231726,0.231726,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-05-02 18:00:00,4.230931,0.167467,-0.925729,1.117462,0.231726,0.887621,0.382773,0.446299,0.231726,0.232609,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-05-02 21:00:00,3.440782,3.238269,-1.601845,0.375699,0.231726,3.624081,20.392764,12.782806,0.239769,0.331157,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2023-05-03 00:00:00,4.234609,3.294242,-0.042956,0.741283,0.231726,11.992781,12.568496,5.641754,0.299559,0.585979,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [19]:
DSCVR_data_all_res_cleaned[8750:8760]

,MagFieldVect_Comp1_mean,MagFieldVect_Comp2_mean,MagFieldVect_Comp3_mean,FarCup1_mean,FarCup2_mean,FarCup3_mean,FarCup4_mean,FarCup5_mean,FarCup6_mean,FarCup7_mean,...,FarCup41_nan,FarCup42_nan,FarCup43_nan,FarCup44_nan,FarCup45_nan,FarCup46_nan,FarCup47_nan,FarCup48_nan,FarCup49_nan,FarCup50_nan
datetime_DSCVR,,,,,,,,,,,,,,,,,,,,,
2020-02-26 18:00:00,0.057532,-0.254038,-0.497597,629.222667,628.467333,630.909667,628.948667,627.969333,629.806333,629.279000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2020-02-26 21:00:00,-0.377548,1.416979,-0.805026,55.118700,14.820400,80.550700,64.755821,93.396817,85.100179,123.354110,...,0.994444,0.994444,0.994444,0.994444,0.994444,0.994444,0.994444,0.994444,0.994444,0.994444
2020-02-27 00:00:00,1.418748,-2.473019,0.831546,NaN,NaN,NaN,65.510865,99.196142,89.068237,122.627489,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2020-02-27 03:00:00,1.721849,-0.542375,1.198122,NaN,NaN,NaN,66.093919,97.388297,87.058325,122.635833,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2020-02-27 06:00:00,2.871883,0.586231,1.402700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2020-02-27 09:00:00,-0.726109,-1.769797,-1.479757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2020-02-27 12:00:00,0.523189,-1.327535,-0.338364,NaN,NaN,NaN,NaN,NaN,84.677300,117.233000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2020-02-27 15:00:00,2.105137,0.074594,0.288201,NaN,NaN,NaN,NaN,89.801118,77.993980,113.084152,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2020-02-27 18:00:00,1.726170,-1.047209,0.546321,231.310500,74.559850,149.872000,90.908060,92.943830,78.970268,112.915143,...,0.994444,0.994444,0.994444,0.994444,0.994444,0.994444,0.994444,0.994444,0.994444,0.994444
2020-02-27 21:00:00,0.404719,-2.024655,0.218914,NaN,NaN,NaN,NaN,90.100350,78.484765,113.816303,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Export DSCVR cleaned and grouped data to CSV

In [21]:
DSCVR_data_all_res_cleaned.to_csv("DSCVR_data_all_res_cleaned.csv")

In [22]:
DSCVR_data_all_res_cleaned.isna().sum(axis=0)

MagFieldVect_Comp1_mean      36
MagFieldVect_Comp2_mean      36
MagFieldVect_Comp3_mean      36
FarCup1_mean               8796
FarCup2_mean               8267
                           ...
FarCup46_nan                  0
FarCup47_nan                  0
FarCup48_nan                  0
FarCup49_nan                  0
FarCup50_nan                  0
Length: 318, dtype: int64

# B. K-P DATA

## B1. IMPORT K-P YEARLY DATASETS

In [23]:

'''
list_Kp_SN_files = [
                    "Kp_ap_Ap_SN_F107_2016.txt",
                    "Kp_ap_Ap_SN_F107_2017.txt",
                    "Kp_ap_Ap_SN_F107_2018.txt",
                    "Kp_ap_Ap_SN_F107_2019.txt",
                    "Kp_ap_Ap_SN_F107_2020.txt",
                    "Kp_ap_Ap_SN_F107_2021.txt",
                    "Kp_ap_Ap_SN_F107_2022.txt",
                    "Kp_ap_Ap_SN_F107_2023.txt"
                    ]
'''
list_Kp_files = [
                    "Raw_data/Kp_ap_2016.txt",
                    "Raw_data/Kp_ap_2017.txt",
                    "Raw_data/Kp_ap_2018.txt",
                    "Raw_data/Kp_ap_2019.txt",
                    "Raw_data/Kp_ap_2020.txt",
                    "Raw_data/Kp_ap_2021.txt",
                    "Raw_data/Kp_ap_2022.txt",
                    "Raw_data/Kp_ap_2023.txt"
                    ]

In [24]:
header_Kp_files = ["YYY", "MM", "DD", "hh.h", "hh._m", "days", "days_m", 
                   "Kp", "ap", "D"]

In [25]:
header_Kp_SN_files = ["YYY", "MM", "DD", "days", "days_m", "Bsr", "dB", 
                   "Kp1", "Kp2", "Kp3","Kp4","Kp5","Kp6","Kp7","Kp8",
                   "ap1","ap2","ap3","ap4","ap5","ap6","ap7","ap8",
                   "Ap","SN","F10.7obs","F10.7adj","D"]

In [26]:
# Initialize empty lists to store text content and data separately
text_content = []
data_content = []

def read_txt_file(name_file):

    with open(name_file, 'r') as file:
        lines = file.readlines()
        text_content = lines[:30] # 30 to remove text that is only content, no data
        data_content = lines[30:]

    # Process and print the text content
    text_content = "".join(text_content) # Collect content, but not used below

    # Process the data content
    data = []
    for line in data_content:
        split_line = [float(i) if i.replace('.','',1).isdigit() else i for i in line.split()]
        data.append(split_line)

    df_data = pd.DataFrame(data)

    return df_data

In [27]:
count = 0

for KP_data_file in list_Kp_files:
    
    if count == 0:
        KP_data_all = read_txt_file(KP_data_file) 
    
    else:
        KP_data_all = pd.concat([KP_data_all, read_txt_file(KP_data_file) ])
        
    count += 1
    
KP_data_all.reset_index(inplace=True, drop=True)

In [28]:
KP_data_all

            0     1    2     3     4          5           6      7     8    9
0      2016.0   1.0  1.0   0.0   1.5  30681.000  30681.0625  6.000  80.0  1.0
1      2016.0   1.0  1.0   3.0   4.5  30681.125  30681.1875  5.333  56.0  1.0
2      2016.0   1.0  1.0   6.0   7.5  30681.250  30681.3125  5.000  48.0  1.0
3      2016.0   1.0  1.0   9.0  10.5  30681.375  30681.4375  3.333  18.0  1.0
4      2016.0   1.0  1.0  12.0  13.5  30681.500  30681.5625  1.667   6.0  1.0
...       ...   ...  ...   ...   ...        ...         ...    ...   ...  ...
22683  2023.0  10.0  6.0   9.0  10.5  33516.375  33516.4375  1.333   5.0  0.0
22684  2023.0  10.0  6.0  12.0  13.5  33516.500  33516.5625  1.000   4.0  0.0
22685  2023.0  10.0  6.0  15.0  16.5  33516.625  33516.6875  1.333   5.0  0.0
22686  2023.0  10.0  6.0  18.0  19.5  33516.750  33516.8125  0.667   3.0  0.0
22687  2023.0  10.0  6.0  21.0  22.5  33516.875  33516.9375  3.000  15.0  0.0

[22688 rows x 10 columns]

In [29]:
key_list = list(range(0,10))
val_list = header_Kp_files
iterable = zip(key_list, val_list)
dict_Kp = {key_list: val_list for key_list,val_list in iterable }
KP_data_all = KP_data_all.rename(columns=dict_Kp)
KP_data_all.head(3)

      YYY   MM   DD  hh.h  hh._m       days      days_m     Kp    ap    D
0  2016.0  1.0  1.0   0.0    1.5  30681.000  30681.0625  6.000  80.0  1.0
1  2016.0  1.0  1.0   3.0    4.5  30681.125  30681.1875  5.333  56.0  1.0
2  2016.0  1.0  1.0   6.0    7.5  30681.250  30681.3125  5.000  48.0  1.0

In [30]:
KP_data_all['hh.h'] = KP_data_all.apply(lambda x: "0"+str(int(x["hh.h"])) if len(str(int(x["hh.h"])))==1 else str(int(x["hh.h"])), axis=1)
KP_data_all['MM'] = KP_data_all.apply(lambda x: "0"+str(int(x["MM"])) if len(str(int(x["MM"])))==1 else str(int(x["MM"])), axis=1)
KP_data_all['DD'] = KP_data_all.apply(lambda x: "0"+str(int(x["DD"])) if len(str(int(x["DD"])))==1 else str(int(x["DD"])), axis=1)
KP_data_all['KP_datetime_init'] = KP_data_all.apply(lambda x: str(int(x['YYY'])) +'-'+ x['MM']+'-'+ x['DD'] +" "+ x['hh.h'] +":"+"00"+":"+"00", axis=1)
KP_data_all['KP_datetime_init'] = pd.to_datetime(KP_data_all['KP_datetime_init'], format="%Y-%m-%d %H:%M:%S")
KP_data_all = KP_data_all[['KP_datetime_init','Kp','ap']]
KP_data_all = KP_data_all.replace(-1, np.nan).copy()
KP_data_all = KP_data_all.replace(-1.000, np.nan).copy()
KP_data_all.reset_index(inplace=True, drop=True)
KP_data_all.head(3)

     KP_datetime_init     Kp    ap
0 2016-01-01 00:00:00  6.000  80.0
1 2016-01-01 03:00:00  5.333  56.0
2 2016-01-01 06:00:00  5.000  48.0

In [31]:
KP_data_all.tail(5)

         KP_datetime_init     Kp    ap
22683 2023-10-06 09:00:00  1.333   5.0
22684 2023-10-06 12:00:00  1.000   4.0
22685 2023-10-06 15:00:00  1.333   5.0
22686 2023-10-06 18:00:00  0.667   3.0
22687 2023-10-06 21:00:00  3.000  15.0

In [32]:
KP_data_all = KP_data_all.set_index('KP_datetime_init')
KP_data_all

                        Kp    ap
KP_datetime_init
2016-01-01 00:00:00  6.000  80.0
2016-01-01 03:00:00  5.333  56.0
2016-01-01 06:00:00  5.000  48.0
2016-01-01 09:00:00  3.333  18.0
2016-01-01 12:00:00  1.667   6.0
...                    ...   ...
2023-10-06 09:00:00  1.333   5.0
2023-10-06 12:00:00  1.000   4.0
2023-10-06 15:00:00  1.333   5.0
2023-10-06 18:00:00  0.667   3.0
2023-10-06 21:00:00  3.000  15.0

[22688 rows x 2 columns]

In [33]:
KP_data_all.isna().sum(axis=0)

Kp    0
ap    0
dtype: int64

# C. MERGE BOTH DATAFRAMES

In [34]:
DSCVR_KP_all_cleaned = DSCVR_data_all_res_cleaned.join(KP_data_all)
DSCVR_KP_all_cleaned

,MagFieldVect_Comp1_mean,MagFieldVect_Comp2_mean,MagFieldVect_Comp3_mean,FarCup1_mean,FarCup2_mean,FarCup3_mean,FarCup4_mean,FarCup5_mean,FarCup6_mean,FarCup7_mean,...,FarCup43_nan,FarCup44_nan,FarCup45_nan,FarCup46_nan,FarCup47_nan,FarCup48_nan,FarCup49_nan,FarCup50_nan,Kp,ap
datetime_DSCVR,,,,,,,,,,,,,,,,,,,,,
2016-07-01 03:00:00,0.265339,3.261504,0.045978,NaN,NaN,NaN,NaN,356.221000,333.408857,349.227408,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.000,7.0
2016-07-01 06:00:00,0.924653,1.763291,-0.228962,NaN,NaN,NaN,NaN,NaN,NaN,351.975857,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.333,9.0
2016-07-01 09:00:00,-0.770110,2.431628,-1.294382,NaN,NaN,NaN,NaN,NaN,NaN,356.851500,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.000,7.0
2016-07-01 12:00:00,1.719482,3.512640,-0.144519,NaN,NaN,NaN,NaN,360.279000,340.138000,355.934667,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.333,5.0
2016-07-01 15:00:00,-1.733990,1.799461,-0.555546,NaN,NaN,NaN,NaN,354.486000,335.147222,348.999882,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.667,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-02 12:00:00,4.525159,-0.303902,0.267391,1.263438,0.231726,0.390526,0.231726,0.232078,0.231726,0.231726,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000,4.0
2023-05-02 15:00:00,3.567366,1.580780,1.438682,1.263416,0.231726,0.353727,0.231726,0.231726,0.231726,0.231726,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000,4.0
2023-05-02 18:00:00,4.230931,0.167467,-0.925729,1.117462,0.231726,0.887621,0.382773,0.446299,0.231726,0.232609,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.667,6.0
2023-05-02 21:00:00,3.440782,3.238269,-1.601845,0.375699,0.231726,3.624081,20.392764,12.782806,0.239769,0.331157,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.667,3.0
2023-05-03 00:00:00,4.234609,3.294242,-0.042956,0.741283,0.231726,11.992781,12.568496,5.641754,0.299559,0.585979,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.000,0.0

### Merged DSCVR + KP Export to CSV

In [35]:
DSCVR_KP_all_cleaned.to_csv("DSCVR_KP_all_cleaned.csv")

### Analysis of NaN in each column

In [36]:
for columni in list(DSCVR_KP_all_cleaned.columns):
    
    print(columni + " :" + str(DSCVR_KP_all_cleaned[columni].isna().sum()))

MagFieldVect_Comp1_mean :36
MagFieldVect_Comp2_mean :36
MagFieldVect_Comp3_mean :36
FarCup1_mean :8796
FarCup2_mean :8267
FarCup3_mean :7409
FarCup4_mean :6775
FarCup5_mean :6106
FarCup6_mean :5474
FarCup7_mean :4843
FarCup8_mean :4264
FarCup9_mean :3672
FarCup10_mean :3240
FarCup11_mean :2777
FarCup12_mean :2467
FarCup13_mean :2158
FarCup14_mean :1868
FarCup15_mean :1632
FarCup16_mean :1419
FarCup17_mean :1167
FarCup18_mean :1053
FarCup19_mean :990
FarCup20_mean :1268
FarCup21_mean :1477
FarCup22_mean :2231
FarCup23_mean :2637
FarCup24_mean :3404
FarCup25_mean :4036
FarCup26_mean :4999
FarCup27_mean :5778
FarCup28_mean :7037
FarCup29_mean :7559
FarCup30_mean :9006
FarCup31_mean :9520
FarCup32_mean :10192
FarCup33_mean :11197
FarCup34_mean :11796
FarCup35_mean :12264
FarCup36_mean :13207
FarCup37_mean :13560
FarCup38_mean :14686
FarCup39_mean :15034
FarCup40_mean :15447
FarCup41_mean :15915
FarCup42_mean :16258
FarCup43_mean :16470
FarCup44_mean :16879
FarCup45_mean :16955
FarCup46_mean :17194
FarCup47_mean :17229
FarCup48_mean :17281
FarCup49_mean :17298
FarCup50_mean :17329
MagFieldVect_Comp1_range :36
MagFieldVect_Comp2_range :36
MagFieldVect_Comp3_range :36
FarCup1_range :8796
FarCup2_range :8267
FarCup3_range :7409
FarCup4_range :6775
FarCup5_range :6106
FarCup6_range :5474
FarCup7_range :4843
FarCup8_range :4264
FarCup9_range :3672
FarCup10_range :3240
FarCup11_range :2777
FarCup12_range :2467
FarCup13_range :2158
FarCup14_range :1868
FarCup15_range :1632
FarCup16_range :1419
FarCup17_range :1167
FarCup18_range :1053
FarCup19_range :990
FarCup20_range :1268
FarCup21_range :1477
FarCup22_range :2231
FarCup23_range :2637
FarCup24_range :3404
FarCup25_range :4036
FarCup26_range :4999
FarCup27_range :5778
FarCup28_range :7037
FarCup29_range :7559
FarCup30_range :9006
FarCup31_range :9520
FarCup32_range :10192
FarCup33_range :11197
FarCup34_range :11796
FarCup35_range :12264
FarCup36_range :13207
FarCup37_range :13560
FarCup38_range :14686
FarCup39_range :15034
FarCup40_range :15447
FarCup41_range :15915
FarCup42_range :16258
FarCup43_range :16470
FarCup44_range :16879
FarCup45_range :16955
FarCup46_range :17194
FarCup47_range :17229
FarCup48_range :17281
FarCup49_range :17298
FarCup50_range :17329
MagFieldVect_Comp1_min :36
MagFieldVect_Comp2_min :36
MagFieldVect_Comp3_min :36
FarCup1_min :8796
FarCup2_min :8267
FarCup3_min :7409
FarCup4_min :6775
FarCup5_min :6106
FarCup6_min :5474
FarCup7_min :4843
FarCup8_min :4264
FarCup9_min :3672
FarCup10_min :3240
FarCup11_min :2777
FarCup12_min :2467
FarCup13_min :2158
FarCup14_min :1868
FarCup15_min :1632
FarCup16_min :1419
FarCup17_min :1167
FarCup18_min :1053
FarCup19_min :990
FarCup20_min :1268
FarCup21_min :1477
FarCup22_min :2231
FarCup23_min :2637
FarCup24_min :3404
FarCup25_min :4036
FarCup26_min :4999
FarCup27_min :5778
FarCup28_min :7037
FarCup29_min :7559
FarCup30_min :9006
FarCup31_min :9520
FarCup32_min :10192
FarCup33_min :11197
FarCup34_min :11796
FarCup35_min :12264
FarCup36_min :13207
FarCup37_min :13560
FarCup38_min :14686
FarCup39_min :15034
FarCup40_min :15447
FarCup41_min :15915
FarCup42_min :16258
FarCup43_min :16470
FarCup44_min :16879
FarCup45_min :16955
FarCup46_min :17194
FarCup47_min :17229
FarCup48_min :17281
FarCup49_min :17298
FarCup50_min :17329
MagFieldVect_Comp1_max :36
MagFieldVect_Comp2_max :36
MagFieldVect_Comp3_max :36
FarCup1_max :8796
FarCup2_max :8267
FarCup3_max :7409
FarCup4_max :6775
FarCup5_max :6106
FarCup6_max :5474
FarCup7_max :4843
FarCup8_max :4264
FarCup9_max :3672
FarCup10_max :3240
FarCup11_max :2777
FarCup12_max :2467
FarCup13_max :2158
FarCup14_max :1868
FarCup15_max :1632
FarCup16_max :1419
FarCup17_max :1167
FarCup18_max :1053
FarCup19_max :990
FarCup20_max :1268
FarCup21_max :1477
FarCup22_max :2231
FarCup23_max :2637
FarCup24_max :3404
FarCup25_max :4036
FarCup26_max :4999
FarCup27_max :5778
FarCup28_max :7037
FarCup29_max :7559
FarCup30_max :9006
FarCup31_max :9520
FarCup32_max :10192
FarCup33_max :11197
FarCup34_max :11796
FarCup35_max :12264
FarCup36_max :13207
FarCup37_max :13560
FarCup38_max :14686
FarCup39_max :15034
FarCup40_max :15447
FarCup41_max :15915
FarCup42_max :16258
FarCup43_max :16470
FarCup44_max :16879
FarCup45_max :16955
FarCup46_max :17194
FarCup47_max :17229
FarCup48_max :17281
FarCup49_max :17298
FarCup50_max :17329
MagFieldVect_Comp1_median :36
MagFieldVect_Comp2_median :36
MagFieldVect_Comp3_median :36
FarCup1_median :8796
FarCup2_median :8267
FarCup3_median :7409
FarCup4_median :6775
FarCup5_median :6106
FarCup6_median :5474
FarCup7_median :4843
FarCup8_median :4264
FarCup9_median :3672
FarCup10_median :3240
FarCup11_median :2777
FarCup12_median :2467
FarCup13_median :2158
FarCup14_median :1868
FarCup15_median :1632
FarCup16_median :1419
FarCup17_median :1167
FarCup18_median :1053
FarCup19_median :990
FarCup20_median :1268
FarCup21_median :1477
FarCup22_median :2231
FarCup23_median :2637
FarCup24_median :3404
FarCup25_median :4036
FarCup26_median :4999
FarCup27_median :5778
FarCup28_median :7037
FarCup29_median :7559
FarCup30_median :9006
FarCup31_median :9520
FarCup32_median :10192
FarCup33_median :11197
FarCup34_median :11796
FarCup35_median :12264
FarCup36_median :13207
FarCup37_median :13560
FarCup38_median :14686
FarCup39_median :15034
FarCup40_median :15447
FarCup41_median :15915
FarCup42_median :16258
FarCup43_median :16470
FarCup44_median :16879
FarCup45_median :16955
FarCup46_median :17194
FarCup47_median :17229
FarCup48_median :17281
FarCup49_median :17298
FarCup50_median :17329
MagFieldVect_Comp1_nan :0
MagFieldVect_Comp2_nan :0
MagFieldVect_Comp3_nan :0
FarCup1_nan :0
FarCup2_nan :0
FarCup3_nan :0
FarCup4_nan :0
FarCup5_nan :0
FarCup6_nan :0
FarCup7_nan :0
FarCup8_nan :0
FarCup9_nan :0
FarCup10_nan :0
FarCup11_nan :0
FarCup12_nan :0
FarCup13_nan :0
FarCup14_nan :0
FarCup15_nan :0
FarCup16_nan :0
FarCup17_nan :0
FarCup18_nan :0
FarCup19_nan :0
FarCup20_nan :0
FarCup21_nan :0
FarCup22_nan :0
FarCup23_nan :0
FarCup24_nan :0
FarCup25_nan :0
FarCup26_nan :0
FarCup27_nan :0
FarCup28_nan :0
FarCup29_nan :0
FarCup30_nan :0
FarCup31_nan :0
FarCup32_nan :0
FarCup33_nan :0
FarCup34_nan :0
FarCup35_nan :0
FarCup36_nan :0
FarCup37_nan :0
FarCup38_nan :0
FarCup39_nan :0
FarCup40_nan :0
FarCup41_nan :0
FarCup42_nan :0
FarCup43_nan :0
FarCup44_nan :0
FarCup45_nan :0
FarCup46_nan :0
FarCup47_nan :0
FarCup48_nan :0
FarCup49_nan :0
FarCup50_nan :0
Kp :0
ap :0

# D. DEALING WITH MISSING VALUES